@model Product
@{
    ColorComponentModel colorcomponent = new() { Name = Model.Color.Name, Hex = Model.Color.Hex };
    ShapeComponentModel shapecomponent = new() { Name = Model.Shape.Name.ToLower(), HasFrame = Model.Shape.HasFrame };
    TransparencyComponentModel transparencycomponent = new() { Name = Model.Transparency.Name, TransparencyValue = Model.Transparency.Value, Description = Model.Transparency.Description };
    ShaperModel shapercomponent = new();
}

<div class="shaper-hover texteffect shaper-card mt-5" style=" padding:10px; border-radius:10px;">
    <div class="shaper-center">
        @{
            shapercomponent.Color = @colorcomponent.Hex.GetRGBA(transparencycomponent.TransparencyValue);
            shapercomponent.HasFrame = shapecomponent.HasFrame;
            shapercomponent.Shape = shapecomponent.Name;
        }
        <div class="content-box">
            <partial name="Components/_ShaperComponent" model="shapercomponent" />
        </div>

        <div class="shaper-textbox-colors mt-3">
            <partial name="Components/_ColorComponent" model="@colorcomponent" />
        </div>
        <div class="shaper-textbox-colors">
            <partial name="Components/_ShapeComponent" model="@shapecomponent" />
        </div>
        <div class="shaper-textbox-colors">
            <partial name="Components/_TransparencyComponent" model="@transparencycomponent" />
        </div>
    </div>
</div>