@model TransparencyComponentModel

<p>Transparency Name: @Model.Name.ToUpper()</p>
<p>Transparency @Model.TransparencyValue %</p>
@if (@Model.Description is not null)
{
    <p>@Model.Description</p>
}



