<li class="nav-item mx-4 texteffect">
    <a class="nav-link text-light" asp-area="Admin" asp-controller="Color" asp-action="Index">Colors</a>
</li>
<div class="indigo-light-border"></div>

<li class="nav-item mx-4 texteffect">
    <a class="nav-link text-light" asp-area="Admin" asp-controller="Shape" asp-action="Index">Shapes</a>
</li>
<div class="indigo-light-border"></div>

<li class="nav-item mx-4 texteffect">
    <a class="nav-link text-light" asp-area="Admin" asp-controller="Transparency" asp-action="Index">Transparency</a>
</li>
<div class="indigo-light-border"></div>
