
<li class="nav-item mx-4 texteffect">
    <a class="nav-link text-light" asp-area="Customer" asp-controller="CustomerProducts" asp-action="Index">Marketplace</a>
</li>
<div class="indigo-light-border"></div>

<li class="nav-item mx-4 texteffect">
    <a class="nav-link text-light" asp-area="Customer" asp-controller="ShoppingCart" asp-action="UserShoppingCart">Shopping Cart</a>
</li>
<div class="indigo-light-border"></div>

<li class="nav-item mx-4 texteffect">
    <a class="nav-link text-light" asp-area="Customer" asp-controller="Order" asp-action="Index">Your Orders</a>
</li>
<div class="indigo-light-border"></div>
