@model UserRegisterModel
@{
    var formtype = "Register";
    var userTypes = Enum.GetNames(typeof(SD.UserType)).Select(i => new SelectListItem
            { Text = i.ToString(), Value = i.ToString() }).ToList();
}

<h1 class="shaper-title">REGISTER</h1>
<div class="shaper-container">
    <form method="post">
        <div class="row my-2">
            <div class="col">
                <label asp-for="Fullname"></label>
                <input asp-for="Fullname" class="form-control">
                <span asp-validation-for="Fullname"></span>
            </div>
            <div class="col">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email"></span>
            </div>
        </div>
        <div class="row my-2">

            <div class="col">
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control">
                <span asp-validation-for="Address"></span>
            </div>
            <div class="col">
                <label asp-for="City"></label>
                <input asp-for="City" class="form-control">
                <span asp-validation-for="City"></span>
            </div>
        </div>
        <div class="row my-2">

            <div class="col">
                <label asp-for="PostalCode"></label>
                <input asp-for="PostalCode" class="form-control">
                <span asp-validation-for="PostalCode"></span>
            </div>

            <div class="col">
                <label asp-for="UserType" class="col-md-2"></label>
                <select asp-for="UserType" asp-items="@userTypes" class="form-control">
                    <option disabled selected>--Select Role--</option>
                </select>
            </div>
        </div>
        <div class="row my-2">

            <div class="col">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control">
                <span asp-validation-for="Password"></span>
            </div>
            <div class="col">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control">
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
        </div>



        <partial name="Buttons/_Confirm" model="formtype" />
    </form>
</div>